*{
    margin: 0;
    padding: 0;
    font-family:'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    text-align: center;
    margin: 100px auto 50px;
    background-color: rgb(220, 220, 248);
}

form{
    max-width: 600px;
    margin: auto;
    height: 80px;
    display: flex;
    align-items: center;
    background:#5C5C99;
    border-radius: 8px;
}

form input{
    flex:1;
    height:100%;
    border:0;
    outline:0;
    background:transparent;
    padding:0 30px;
    font-size: 18px;
    color:#fff;
}

h1{
    margin-bottom: 50px;
    color: #292966;
}

form button{
    padding: 0 30px;
    height: 100%;
    background-color: #292966;
    color: #fff;
    font-size: 18px;
    border:0;
    outline:0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

::placeholder{
    color: #bdbcbc;
}

#show-more-btn{
    background-color:#292966;
    color: #f7f5f5;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    display: none;
    width: max-content;
}

#search-result{
    width:80%;
    margin:100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:40px;
}



#search-result img{
    width:100%;
    height: 230px;
    object-fit: cover;
    border-radius: 8px;
}